    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
    <!-- Start Left menu area -->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
                <strong><a href="index.html"><img src="img/logo/logosn.png" alt="" /></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li >
                            <a class="has-arrow" href="index.html">
								   <span class="educate-icon educate-home icon-wrap"></span>
								   <span class="mini-click-non">Education</span>
								</a>
                            
                        </li>
                        <li>
                            <a title="Landing Page" href="events.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Event</span></a>
                        </li>
                        
                        <li>
                            <a class="has-arrow" href="mailbox.html" aria-expanded="false"><span class="educate-icon educate-data-table icon-wrap"></span> <span class="mini-click-non">Data Tables</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                
                            </ul>
                        </li>
                       
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area" style="left: 0px;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
													<i class="educate-icon educate-nav"></i>
												</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        <div class="header-top-menu tabl-d-n">
                                            <ul class="nav navbar-nav mai-top-nav">
                                                <li class="nav-item"><a href="/" class="nav-link">Home</a>
                                                </li>
                                                <li class="nav-item"><a href="#" class="nav-link">About</a>
                                                </li>
                                                <li class="nav-item"><a href="#" class="nav-link">Services</a>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                
                                                <li class="nav-item">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
															<img src="img/product/pro4.jpg" alt="" />
															<span class="admin-name">Prof.Anderson</span>
															<i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
														</a>
                                                   
                                                </li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu start -->
           
            <!-- Mobile Menu end -->
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row" style="padding-top: 150px;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome">
                                <div class="row" >
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="breadcome-heading">
                                            <form role="search" style="display: flex" class="sr-input-func">
                                                <input type="text" id="equat" style="width: 600px;" placeholder="Ecuacion" class="search-int form-control">
                                                <button type="button" onclick="addBlock()" style="margin: 0 15px;" class="btn btn-primary btn-lg">Anadir bloque</button>
                                                <button type="button" onclick="add()" style="margin: 0 15px;" class="btn btn-sm btn-primary">Anadir</button>
                                                <button type="button" onClick="less()" style="margin: 0 15px;" class="btn btn-sm btn-danger">Restar</button>
                                                <button type="button" onclick="multiply()" style="margin: 0 15px;" class="btn btn-sm btn-success">Multiplicar</button>
                                                <button type="button" onclick="divide()" style="margin: 0 15px;" class="btn btn-sm btn-info">Dividir</button>
                                                 <button type="button" onclick="clear()" style="margin: 0 15px;" class="btn btn-sm btn-info">Limpiar</button>
                                                 <button type="button" onclick="calculate()" style="margin: 0 15px;" class="btn btn-sm btn-info">Calcular</button>
                                                 <h1 id="resp"></h1>
                                            </form>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="widget-program-bg">
            <div class="container-fluid">
                <div class="row" style="display: flex" id="canva">
                    
                        
                    
                </div>
            </div>
        </div>
       
                </div>
            </div>
        </div>
       
    </div>
    <script>
     var canv =   document.getElementById('canva');
     var equation = [];
    var blockAded = 0;
    function addBlock(){
        
        var div = document.createElement('div');
        blockAded++;
        div.className = 'col-2';
        div.innerHTML = `

            <div class="student-dtl" style="background-color:#4717F6;">
                <h2 style="color:white">${blockAded}</h2>
            </div>
            `;

        document.getElementById('canva').appendChild(div);
        equation.push(blockAded)
        
    }
    function add(){
        blockAded = 0;
        var div = document.createElement('div');
        
        div.className = 'col-2';
        div.innerHTML = `

            <div class="student-dtl" style="background-color:#f7b733;">
                <h2 style="color:white;">+</h2>
            </div>
            `;
        
        document.getElementById('canva').appendChild(div);
        equation.push("+")
         
    }
    function less(){
        blockAded = 0;
        var div = document.createElement('div');
        
        div.className = 'col-2';
        div.innerHTML = `

            <div class="student-dtl" style="background-color:#4abdac;color:white;">
                <h2 style="color:white;">-</h2>
            </div>
            `;
        equation.push("-")
        document.getElementById('canva').appendChild(div);
      
    }
    function multiply(){
        blockAded = 0;
        var div = document.createElement('div');
        
        div.className = 'col-2';
        div.innerHTML = `

            <div class="student-dtl" style="background-color:#fe491a;color:white;">
                <h2 style="color:white;">*</h2>
            </div>
            `;
    equation.push("*")
        document.getElementById('canva').appendChild(div);
        
    }
    function divide(){
        blockAded = 0;
        var div = document.createElement('div');
        
        div.className = 'col-2';
        div.innerHTML = `

            <div class="student-dtl" style="background-color:#dfdce3;color:white;">
                <h2 style="color:white;">/</h2>
            </div>
            `;
    equation.push("/")
        document.getElementById('canva').appendChild(div);
       

    }
   function calculate(){
       var result = 0
    equation.push("=")
       var counter = 0;
       var newequation = []
       equation.forEach(x => {
           counter++;
           if(isNaN(x)){
           var yb = counter - 1;
           newequation.push(yb);
           newequation.push(x);
           equation.pop(counter);
               counter = 0
           }
           
       })
       
        counter = 0
       var eqlen = equation.length;
       
       var putIn = equation.pop(eqlen)
       newequation.push(putIn)
       console.log(newequation)

       var testA = [];
      
       var second = newequation.toString();
           
           var totald = second.replace(/,/g, '');
           
          
             document.getElementById("equat").value = totald;
             
             
             function expr (expr) {

    var chars = expr.split("");
    var n = [], op = [], index = 0, oplast = true;

    n[index] = "";

    // Parse the expression
    for (var c = 0; c < chars.length; c++) {

        if (isNaN(parseInt(chars[c])) && chars[c] !== "." && !oplast) {
            op[index] = chars[c];
            index++;
            n[index] = "";
            oplast = true;
        } else {
            n[index] += chars[c];
            oplast = false;
        }
    }

    // Calculate the expression
    expr = parseFloat(n[0]);
    for (var o = 0; o < op.length; o++) {
        var num = parseFloat(n[o + 1]);
        switch (op[o]) {
            case "+":
                expr = expr + num;
                break;
            case "-":
                expr = expr - num;
                break;
            case "*":
                expr = expr * num;
                break;
            case "/":
                expr = expr / num;
                break;
        }
    }
    
    totald = expr;
}
           
           expr(totald)
           document.getElementById("resp").value = totald;
           alert(totald)
          console.log(totald)
   }
   
    </script>